<ion-content [scrollEvents]="true">

  <div>
    <ion-button (click)="scan()">Scan</ion-button>
    <ion-button (click)="onStartNotification()">Start notification</ion-button>
  </div>

  <ion-list>
    <button *ngFor="let device of devices" (click)="deviceSelected(device)">
      <h2>{{ device.name || 'Unnamed' }}</h2>
      <p>{{ device.id }}</p>
      <p>RSSI: {{ device.rssi }}</p>
    </button>
  </ion-list>

  <p>{{ statusMessage }}</p>

  <p>{{ peripheral.name || 'Unnamed' }}</p>
  <pre>{{peripheral | json }}</pre>

  <ion-list>
    <ion-item *ngFor="let service of peripheral.services">
      {{service}}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let characteristic of peripheral.characteristic">
      {{characteristic}}
    </ion-item>
  </ion-list>

  <p>Data: {{data}}</p>
  <p>Data UintArray: {{view1}}</p>
  <p>Size: {{size}}</p>
  <p>Data String Char: {{view2}}</p>

</ion-content>
