<ion-content [scrollEvents]="true">

  <div>
    <ion-button (click)="scan()">Scan</ion-button>
  </div>

  <ion-list>
    <button *ngFor="let device of devices" (click)="deviceSelected(device)">
      <h2>{{ device.name || 'Unnamed' }}</h2>
      <p>{{ device.id }}</p>
      <p>RSSI: {{ device.rssi }}</p>
    </button>
  </ion-list>

  <p>{{ statusMessage }}</p>

  <p>{{ peripheral.name || 'Unnamed' }}</p>
  <pre>{{peripheral | json }}</pre>

  <ion-list>
    <ion-item *ngFor="let service of peripheral.services">
      {{service}}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let characteristic of peripheral.characteristic">
      {{characteristic}}
    </ion-item>
  </ion-list>

  <pre>D1: {{data1}}</pre>
  <pre>{{data2}}</pre>
  <pre>{{data3}}</pre>
  <pre>{{data4}}</pre>

  <pre>D5: {{data5}}</pre>
  <pre>D5Json: {{data5JSON}}</pre>
  <pre>D5Float: {{data5float}}</pre>
  <pre>D5St: {{data5St}}</pre>
  <pre>D5ISt: {{data5ISt}}</pre>
  <pre>Length: {{data5L}}</pre>
  <pre>Array: {{data5A}}</pre>
  <pre>ArrayFromChar: {{data5StFromChar}}</pre>
  <pre>Array0 in 2: {{data5A002}}</pre>
  <pre>Array0 in 10: {{data5A001}}</pre>
  <pre>Array0: {{data5A0}}</pre>

  <pre>{{data}}</pre>

</ion-content>
